Model/classes/ua/divas/service/vo/common/OrdersViewSDO.xsd

<xsd:schema xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:sdoXML="commonj.sdo/xml" targetNamespace="/ua/divas/service/vo/common/" xmlns="/ua/divas/service/vo/common/"
     elementFormDefault="qualified" sdoJava:package="ua.divas.service.vo.common">
    <xsd:import schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/"/>
    <xsd:import schemaLocation="classpath:/xml/sdoJava.xsd" namespace="commonj.sdo/java"/>
    <xsd:import schemaLocation="classpath:/xml/sdoXML.xsd" namespace="commonj.sdo/xml"/>
    <xsd:include schemaLocation="OrdersTpOplatyViewSDO.xsd"/>
    <xsd:include schemaLocation="OrdersTpUslugiViewSDO.xsd"/>
    <xsd:include schemaLocation="PkoViewSDO.xsd"/>
    <xsd:include schemaLocation="RkoViewSDO.xsd"/>
    <xsd:complexType name="OrdersViewSDO">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Id" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Dat" type="ns0:dateTime-Timestamp" minOccurs="0"/>
            <xsd:element name="Num" type="xsd:string" minOccurs="0"/>
            <xsd:element name="KontragId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="KontragName" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="CurrId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="KassaId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DivisionId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="DivisionName" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="UserId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="UserName" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Kurs" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="Kratnost" type="xsd:long" minOccurs="0" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element name="Discription" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Deleted" type="xsd:int" minOccurs="0" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element name="Version" type="ns0:dateTime-Timestamp" minOccurs="0"/>
            <xsd:element name="Posted" type="xsd:int" minOccurs="0" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element name="FirmId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ActivitiesId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="StatusId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="StatusName" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ZamerId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ZamerName" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ZamerUserName" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ZamerUserId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="DatZam" type="ns0:dateTime-Timestamp" minOccurs="0"/>
            <xsd:element name="TimeZam" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SummPlan" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="DatComplete" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
            <xsd:element name="AgentId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="DatCompleteFact" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
            <xsd:element name="DivisionDest" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="OrdersTpOplatyView" type="OrdersTpOplatyViewSDO" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="OrdersTpUslugiView" type="OrdersTpUslugiViewSDO" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="PkoView" type="PkoViewSDO" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="RkoView" type="RkoViewSDO" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ordersViewSDO" type="OrdersViewSDO"/>
</xsd:schema>
