Model/classes/ua/divas/service/vo/common/PkoViewSDO.xsd

<xsd:schema xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:sdoXML="commonj.sdo/xml" targetNamespace="/ua/divas/service/vo/common/" xmlns="/ua/divas/service/vo/common/"
     elementFormDefault="qualified" sdoJava:package="ua.divas.service.vo.common">
    <xsd:import schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/"/>
    <xsd:import schemaLocation="classpath:/xml/sdoJava.xsd" namespace="commonj.sdo/java"/>
    <xsd:import schemaLocation="classpath:/xml/sdoXML.xsd" namespace="commonj.sdo/xml"/>
    <xsd:complexType name="PkoViewSDO">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>Id</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Id" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Dat" type="ns0:dateTime-Timestamp" minOccurs="0"/>
            <xsd:element name="Num" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Deleted" type="xsd:int" minOccurs="0" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element name="Posted" type="xsd:int" minOccurs="0" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element name="DivisionId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="UserId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Comments" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Version" type="ns0:dateTime-Timestamp" minOccurs="0"/>
            <xsd:element name="CurrId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="KassaId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ActivitiesId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="OperationId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Summa" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="KontragId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="OrderId" type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="pkoViewSDO" type="PkoViewSDO"/>
</xsd:schema>
